#favorit {
    margin-top: 40px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 8px;
    backdrop-filter: blur(4px)
    }

#lihat{
    background-color: #c803ff;
    width: 385px;
}